# homework 6

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('Real estate.csv')

In [8]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [10]:
df = df.drop('X1 transaction date', axis = 1)

In [12]:
df.head()

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,5.0,390.56840,5,24.97937,121.54245,43.1

In [13]:
df = df.drop('No', axis = 1)

In [14]:
df.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
MinMax = MinMaxScaler()

In [19]:
MinMax_df = MinMax.fit_transform (df)

In [22]:
df.columns

Index(['X2 house age', 'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [23]:
df = pd.DataFrame(MinMax_df, columns= ['X2 house age', 'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'])

In [27]:
df.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,0.730594,0.009513,1.0,0.616941,0.719323,0.275705
1,0.445205,0.043809,0.9,0.584949,0.711451,0.314832
2,0.303653,0.083315,0.5,0.671231,0.758896,0.361237
3,0.303653,0.083315,0.5,0.671231,0.758896,0.429481
4,0.114155,0.056799,0.5,0.573194,0.743153,0.323021

In [26]:
df.shape

(414, 6)

In [28]:
x = df.drop('Y house price of unit area', axis = 1)

In [29]:
x.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.730594,0.009513,1.0,0.616941,0.719323
1,0.445205,0.043809,0.9,0.584949,0.711451
2,0.303653,0.083315,0.5,0.671231,0.758896
3,0.303653,0.083315,0.5,0.671231,0.758896
4,0.114155,0.056799,0.5,0.573194,0.743153

In [31]:
y = df['Y house price of unit area']

In [32]:
y.head()

0    0.275705
1    0.314832
2    0.361237
3    0.429481
4    0.323021
Name: Y house price of unit area, dtype: float64

In [36]:
from sklearn.model_selection import train_test_split

In [39]:
(xtrain, xtest , ytrain, ytest) = train_test_split(x,y, train_size = .70)

In [40]:
xtrain.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
87,0.385845,0.625434,0.0,0.132089,0.322299
136,0.260274,0.056799,0.5,0.573194,0.743153
407,0.118721,0.369025,0.0,0.278478,0.928510
391,0.141553,0.296438,0.1,0.236064,0.866293
287,0.438356,0.067710,0.5,0.268783,0.715657

In [41]:
xtest.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
42,0.824201,0.076737,0.5,0.375424,0.690641
134,0.762557,0.025305,0.6,0.411658,0.739487
240,0.251142,0.261306,0.2,0.388391,0.465495
173,0.942922,0.058549,0.4,0.620334,0.766336
216,0.863014,0.087792,0.1,0.478187,0.669183

In [42]:
from sklearn.linear_model import LinearRegression

In [47]:
reg =  LinearRegression()

In [49]:
reg.fit(xtrain, ytrain)

LinearRegression()

In [52]:
y_pred = reg.predict(xtest)

In [67]:
y_pred

array([0.25867408, 0.29248268, 0.24003106, 0.28247857, 0.23212654,
       0.34076804, 0.06865302, 0.23291818, 0.22749429, 0.31080045,
       0.23712512, 0.35523327, 0.37981387, 0.37981387, 0.16873048,
       0.29913399, 0.04816461, 0.07125156, 0.37391812, 0.06441373,
       0.21815646, 0.28194963, 0.41994873, 0.16886456, 0.34563129,
       0.30601507, 0.36685561, 0.32270877, 0.21121381, 0.34708425,
       0.3371131 , 0.2265665 , 0.30789387, 0.36685201, 0.07142565,
       0.25315181, 0.06823789, 0.26483613, 0.23309145, 0.36467339,
       0.32018907, 0.33993777, 0.23492925, 0.38825043, 0.34485495,
       0.31813176, 0.34447132, 0.32130805, 0.37981387, 0.34604642,
       0.16764727, 0.33394536, 0.30259825, 0.24430405, 0.32009841,
       0.39872522, 0.33071397, 0.36776961, 0.31529572, 0.29847668,
       0.31958892, 0.41349959, 0.22921264, 0.34146416, 0.34866959,
       0.33158857, 0.21079867, 0.31669985, 0.2889827 , 0.32671106,
       0.32381262, 0.28049271, 0.30238266, 0.36384312, 0.29000064,
       0.29504204, 0.28432475, 0.16791504, 0.29512325, 0.29279699,
       0.32221401, 0.31204585, 0.35500747, 0.37857274, 0.23608076,
       0.30753403, 0.3657771 , 0.27421911, 0.41045121, 0.3646905 ,
       0.33892696, 0.21121381, 0.31559366, 0.34604642, 0.20989087,
       0.4004822 , 0.297381  , 0.30515456, 0.13458655, 0.35887825,
       0.28743962, 0.07425732, 0.07267105, 0.33158857, 0.22861677,
       0.29409609, 0.40308664, 0.21142137, 0.31105332, 0.30202527,
       0.37578231, 0.31762091, 0.04859726, 0.22948826, 0.28980946,
       0.32837002, 0.20781521, 0.35239898, 0.32312391, 0.35887825,
       0.16871191, 0.34373032, 0.31163071, 0.20908267, 0.29970588])

In [68]:
pred_result = reg.predict([[19.5, 306.59470, 9, 24.98034,121.53951]])

In [69]:
pred_result

array([-81.75980513])

In [70]:
from sklearn.metrics import r2_score

In [71]:
r2_score = r2_score(ytest, y_pred)

In [72]:
r2_score

0.6663838956067785