# homework 6

In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv('Real estate.csv')

In [78]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [79]:
df.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [80]:
new_df = df.drop('X1 transaction date', axis = 1)

In [81]:
new_df.head()

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,5.0,390.56840,5,24.97937,121.54245,43.1

In [82]:
n_new_df = new_df.drop('No', axis = 1)

In [83]:
n_new_df.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [84]:
x = n_new_df.drop('Y house price of unit area', axis = 1)

In [85]:
x.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,32.0,84.87882,10,24.98298,121.54024
1,19.5,306.59470,9,24.98034,121.53951
2,13.3,561.98450,5,24.98746,121.54391
3,13.3,561.98450,5,24.98746,121.54391
4,5.0,390.56840,5,24.97937,121.54245

In [86]:
y = (df['Y house price of unit area'])

In [87]:
y.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: Y house price of unit area, dtype: float64

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
(xtrain, xtest, ytrain, ytest) = train_test_split(x,y, train_size = .70)

In [90]:
xtrain.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
217,28.0,372.62420,6,24.97838,121.54119
305,16.2,289.32480,5,24.98203,121.54348
5,7.1,2175.03000,3,24.96305,121.51254
19,1.5,23.38284,7,24.96772,121.54102
279,2.6,1554.25000,3,24.97026,121.51642

In [91]:
from sklearn.preprocessing import MinMaxScaler

In [92]:
minmax = MinMaxScaler()

In [93]:
Minmaxtrin = minmax.fit_transform(xtrain)

In [94]:
xtrain.columns

Index(['X2 house age', 'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'],
      dtype='object')

In [95]:
xtrain = pd.DataFrame(Minmaxtrin, columns=  ['X2 house age', 'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [96]:
xtrain.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.639269,0.054023,0.6,0.666227,0.729567
1,0.369863,0.041138,0.5,0.719730,0.754259
2,0.162100,0.332833,0.3,0.441513,0.420638
3,0.034247,0.000000,0.7,0.509968,0.727733
4,0.059361,0.236806,0.3,0.547200,0.462476

In [97]:
Minmaxtest = minmax.transform(xtest)

In [98]:
xtest.columns

Index(['X2 house age', 'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'],
      dtype='object')

In [99]:
xtest = pd.DataFrame(Minmaxtest, columns=  ['X2 house age', 'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'])

In [100]:
xtest.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,0.374429,0.041138,0.5,0.719730,0.754259
1,0.246575,0.035454,0.1,0.610818,0.613867
2,0.420091,0.410167,0.3,0.417766,0.374596
3,0.296804,0.072525,0.5,0.472296,0.688376
4,0.796804,0.024142,0.8,0.594547,0.743153

In [101]:
from sklearn.linear_model import LinearRegression

In [102]:
reg = LinearRegression()

In [103]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [104]:
 y_pred = reg.predict(xtest)

In [105]:
y_pred

array([45.91987093, 38.94333206, 28.33068822, 41.35568411, 43.89677832,
       38.15495751, 44.25435438, 28.83086478, 41.65199037, 33.38592739,
       30.43619332, 46.04570554, 47.30851585, 55.88386729, 48.63140364,
       44.12031921, 38.06157554, 36.19255638, 55.09745243, 41.84662775,
       45.99045955, 36.36784518, 30.27131849, 37.24762883, 48.82697738,
       14.68620692, 43.93991798, 45.99864646, 35.85733688, 49.70767059,
       32.26198983, 41.71488682, 46.0977053 , 37.56774877, 31.06649769,
       44.30141346, 44.72189101, 40.62363851, 52.57985926, 35.52009514,
       50.05463233, 30.47429611, 26.38542658, 12.74893768, 41.48168636,
       40.61315928, 42.4797841 , 49.79082954, 41.80900498, 29.8731858 ,
       46.215353  , 28.07202853, 51.54449198, 47.06190549, 15.17638474,
       23.35250266, 40.31718175, 47.50453699, 44.19949344, 43.40138665,
       46.79793226, 32.33617143, 45.4960378 , 39.83082546, 42.63771994,
       45.02032285, 48.32083292, 31.61501901, 35.07492874, 39.38439366,
       52.67397742, 40.27121102, 38.82733193, 30.71442499, 43.63392839,
       15.40270862, 49.56076881, 42.27869554, 38.46174053, 31.67335482,
       52.55632973, 39.38439366, 23.03139074, 31.70619921, 36.48673115,
       44.13670668, 25.48935711, 14.88636814, 45.96693001, 30.38913424,
        5.45470461, 46.48715486, 31.78869695, 46.50810942, 42.85175325,
       49.00930174, 50.05463233, 38.89262975, 30.89240955, 37.25086993,
       41.98006405, 39.38439366, 14.52198677, 32.96819294, 43.29078767,
       32.57766192, 15.33212   , 41.21450688, 15.54519524, 33.02986443,
       46.03751863, 48.53728548, 38.76414068, 51.86363441, 44.74849933,
       15.5216657 , 30.43619332, 30.45972286, 41.2850955 , 53.57316949,
       38.46906022, 45.7524863 , 31.49363614, 36.35476447, 32.31968469])

In [106]:
predict_output = reg.predict([[19.5, 306.59470, 9, 24.98034,121.53951]])

In [107]:
predict_output

array([-4773.58010296])

In [108]:
from sklearn.metrics import r2_score

In [109]:
score = r2_score(ytest, y_pred)

In [110]:
score

0.4954525061873878